.popup__container {
  background-color: #fff;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 36px 37px;
  margin: 0 19px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 425px) {
  .popup__container {
    padding: 25px 22px 25px;
  }
}
