.profile__info {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  color: #fff;
  width: 336px;
  margin-left: 30px;
  row-gap: 16px;
  column-gap: 18px;
}

@media screen and (max-width: 680px) {
  .profile__info {
    margin: 26px 0 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    width: 217px;
    row-gap: 14px;
    column-gap: 10px;
  }
}
